html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }


.jumb1 {
	justify-content: center;
	display: flex;
	padding: 0;
	margin: 0;
}

.carousel{
	width: 100%;
	height: auto;
	margin: 0;
}
.jumb2 {
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 0;
}

.imageprice{
	text-align: left;
	font-size: 0.9rem;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}


.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}